IBKR_ENVIRONMENT=LIVE
IBKR_ACCOUNT_BASE_CURRENCY=EUR

IBKR_HOST=127.0.0.1
IBKR_PORT=7496

IBKR_CLIENT_ID=91
IBKR_RECON_CLIENT_ID=92
IBKR_QUOTE_CLIENT_ID=93

IBKR_READ_ONLY=false

IBKR_ORDER_AUTHORITY=CANARY
IBKR_ALLOW_ORDER_TRANSMISSION=true
IBKR_LIVE_TRADING_ENABLED=true
IBKR_LIVE_AUTOSCALE_ENABLED=false

# LEVEL 1 CANARY
IBKR_MAX_ORDER_EUR=250
IBKR_MAX_TOTAL_EXPOSURE_EUR=250
IBKR_MAX_RISK_EUR=9
IBKR_MAX_OPEN_POSITIONS=1
IBKR_MAX_NEW_ORDERS_PER_DAY=1

IBKR_LIVE_APPROVAL_TTL_SECONDS=300
IBKR_LIVE_CALLBACK_TIMEOUT_SECONDS=15

IBKR_ALLOW_FRACTIONAL_SHARES=false

IBKR_ALLOW_STOCKS=true
IBKR_ALLOW_ETFS=true
IBKR_ALLOW_COMMODITY_ETFS=false

IBKR_ALLOW_FUTURES=false
IBKR_ALLOW_SHORTS=false
IBKR_ALLOW_MARGIN=false
IBKR_ALLOW_OPTIONS=false
IBKR_ALLOW_FOREX_SPECULATION=false
IBKR_ACCOUNT_FINGERPRINT_KEY=bca5e074555ac1fab00b65b7b14cfcad7b3a73e9d7983f7f63b9e692105c908d
IBKR_LIVE_ACCOUNT_FINGERPRINT=
IBKR_MANUAL_APPROVAL_PHRASE=IBKR-SCpAgJJBce5eK26LOi6e7o6FZ0DitZUc
